.h3-center-start{
    font-family: Tenor Sans;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    width: 734px;
    height: 72px;
    margin-top: 50px;
    margin-left: 379px;
    text-align: center;
    gap: 0px;
    opacity: 0px;;
    color: #57463a;  
}
.img-start-end{
    width: 1160px;
    height: 536.5px;
    margin-top: 50px;
    margin-left: 140px;
    gap: 0px;
    opacity: 0px;
    
}